@import "tailwindcss";

/* Global body text */
body {
    font-family: 'Inter', sans-serif;
    color: #1f2937; /* gray-800 */
  }
  
  /* Headings */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }
  